<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>">
      <img src="<%= asset_path('logo.png') %>" alt="Logo du site AccessNum" class="logo">
      <span class="ms-2 site-name">AccessNum</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Menu de navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= simulate_path %>">Simulation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_path %>">Accessibilité numérique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= me_path %>">Me concernant</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
