<nav class="navbar navbar-expand-lg" role="navigation" aria-label="Navigation principale">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>" aria-label="Accédez à la page d'accueil d'AccessNum">
      <img src="<%= asset_path('logo.png') %>" alt="Logo du site AccessNum" class="logo" />
      <span class="ms-2 site-name">AccessNum</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Ouvrir le menu de navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= simulate_path %>" aria-label="Accédez à la page de simulation pour tester l'accessibilité du site">Simulation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_path %>" aria-label="Accédez à la page expliquant l'accessibilité numérique">Accessibilité numérique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= me_path %>" aria-label="Accédez à la page à  propos de moi">À propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
