<h1 style="margin-bottom: 20px;" id="site-map-title">Plan du site</h1>
<p>Bienvenue sur le plan du site de <strong>AccessNum</strong>. Cette page vous offre une vue d'ensemble des pages disponibles sur ce site, afin de faciliter votre navigation.</p>

<h2 style="margin-top: 20px;" id="accessnum-services-title">Présentation d'AccessNum et des services proposés</h2>
<ul>
  <li>
    <a href="<%= root_path %>" aria-label="Accéder à la page d'accueil">Accueil – Page d'accueil</a>
  </li>
  <li>
    <a href="<%= simulate_path %>" aria-label="Accéder à la simulation">Simulation – Accéder à la simulation</a>
  </li>
  <li>
    <a href="<%= about_path %>" aria-label="En savoir plus sur l'accessibilité numérique">À propos de l'accessibilité numérique – En savoir plus sur l'accessibilité</a>
  </li>
  <li>
    <a href="<%= me_path %>" aria-label="Voir la présentation personnelle">Qui suis-je ? – Présentation personnelle</a>
  </li>
</ul>

<h2 style="margin-top: 20px;" id="additional-pages-title">Pages complémentaires</h2>
<ul>
  <li>
    <a href="/mentions-legales" aria-label="Voir les informations légales">Mentions légales – Informations légales</a>
  </li>
  <li>
    <a href="<%= accessibilite_path %>" aria-label="Accéder à la déclaration d'accessibilité numérique">Accessibilité – Déclaration d’accessibilité numérique</a>
  </li>
</ul>
