<h1>Plan du site</h1>
<p>Bienvenue sur le plan du site de AccessNum. Cette page vous offre une vue d'ensemble de l'ensemble des pages disponibles sur ce site, afin de faciliter votre navigation.</p>

<br>
<h2>Présentation d'AccessNum et des services proposés</h2>
  <ul>
    <li>Accueil – <a href="<%= root_path %>">Page d'accueil</a></li>
    <li>Simulation – <a href="<%= simulate_path %>">Accéder à la simulation</a></li>
    <li>À propos de l'accessibilité numérique – <a href="<%= about_path %>">En savoir plus sur l'accessibilité</a></li>
    <li>Qui suis-je ? – <a href="<%= me_path %>">Présentation personnelle</a></li>
  </ul>
<br>
<h2>Pages complémentaires</h2>
  <ul>
    <li>Mentions légales – <a href="/mentions-legales">Informations légales</a></li>
    <li>Accessibilité – <a href="<%= accessibilite_path %>">Déclaration d’accessibilité numérique</a></li>
  </ul>
