<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MNRGV5GF');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= content_for?(:title) ? yield(:title) : "AccessNum - À vous de voir" %></title>

    <%= favicon_link_tag "favicon.ico", rel: "shortcut icon" %>
    <%= favicon_link_tag "favicon.svg", rel: "icon", type: "image/svg+xml" %>
    <%= favicon_link_tag "favicon-96x96.png", rel: "icon", type: "image/png", sizes: "96x96" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180" %>

    <%= tag :link, rel: "manifest", href: asset_path("site.webmanifest") %>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'AccessNum - Plateforme pour se mettre dans la peau de différents utilisateurs et comprendre ainsi l\'importance de l\'accessibilité numérique.' %>">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'AccessNum - À vous de voir' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'AccessNum - Plateforme pour se mettre dans la peau de différents utilisateurs et comprendre ainsi l\'importance de l\'accessibilité numérique.' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= asset_url('og-image.png') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'AccessNum - À vous de voir' %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : 'AccessNum - Plateforme pour se mettre dans la peau de différents utilisateurs et comprendre ainsi l\'importance de l\'accessibilité numérique.' %>">
    <meta name="twitter:image" content="<%= asset_url('og-image.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNRGV5GF"
              height="0" width="0" style="display:none;visibility:hidden"
              title="Google Tag Manager">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= render "shared/navbar" %>

    <main class="container my-5">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
